<div class="container_big-card">
  
  <div class="big-card_photo">
    <img
      src="https://th.bing.com/th/id/OIP.mDzIoaqnw_whAiaTSz4iwgHaFj?pid=ImgDet&rs=1"
      alt=""
      height="220px"
      srcset=""
    >
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  
  <div class="big-card_descript">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
      et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  
  </div>
</div>
